@model IEnumerable<ProductModel>
<h3>ListProduct</h3>
<a asp-area="Admin" asp-action="Create" asp-controller="Product">Add product</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Product Name</th>
            <th scope="col">Product Quantity</th>
            <th scope="col">Product Sold</th>
            <th scope="col">Add Product Quantity</th>

            <th scope="col">Product Description</th>
            <th scope="col">Product Price</th>
            <th scope="col">Product Image</th>
            <th scope="col">Product Slug</th>
            <th scope="col">Product Category</th>
            <th scope="col">Product Brand</th>
            <th scope="col">Product Manage</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model){
        <tr>
            <th scope="row">@item.Id</th>
            <td>@item.Name</td>
                <td><b>@item.Quantity</b></td>
                <td><b>@item.Sold</b></td>
                <td><a asp-area="Admin" asp-controller="Product" asp-action="AddQuantity" asp-route-Id="@item.Id">Add Quantity</a></td>

            <td>@item.Description</td>
                <td>@item.Price.ToString("#,##0 VNĐ")</td>
            <td><img src="~/images/products/@item.Image" width="120"></img></td>
            <td>@item.Slug</td>
            <td>@item.Category.Name</td>
            <td>@item.Brand.Name</td>
            <td>
                    <a asp-area="Admin" asp-action="Edit" class="btn btn-warning btn-sm" asp-controller="Product" asp-route-id="@item.Id">Edit</a>
                    <a asp-action="Delete" class="btn btn-danger btn-sm confirmDeletion" asp-controller="Product" asp-route-id="@item.Id">Delete</a>
            </td>

        </tr>
        }
    </tbody>
</table>